*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.module-container {
  display: flex;
  flex-direction: column;
}

.app-container {
  display: flex;
  align-items: center;
}

ul{
  display: flex;
  height: 4em;
  justify-content: flex-start;
  align-items: center;
}

ul li{
  list-style: none;
  padding-right: 2em;
}

.main-container{
  display: flex;
  width: 100%;
}

.module-container{
  display: flex;
  width: 50%;
}
.image-container{
  display: flex;
  justify-content: center;
  width: 50%;
  height: 50vh;
}

img{
  width: 100%;
}

.form-container{
  height: 2.5em;
  display: flex;
}

.form-container div{
  width: 50%;
}

input{
  height: 2.5em;
}

