*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.module-container {
  display: flex;
  flex-direction: column;
}

.app-container {
  display: flex;
  align-items: center;
}

ul{
  display: flex;
  height: 4em;
  justify-content: flex-start;
  align-items: center;
}

ul li{
  list-style: none;
  padding-right: 2em;
}

.main-container{
  display: flex;
  width: 100%;
  border: 1px solid blue;
}

.module-container{
  display: flex;
  width: 40%;
  border: 1px solid green;
}

.form-container{
  border: 1px solid cyan;
  height: 2.5em;
  display: flex;
}

.form-container div{
  width: 50%;
}

.image-container{
  width: 60%;
  height: 50vh;
  border: 1px solid ;
}

input{
  height: 2.5em;
}