*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.module-container {
  display: flex;
  flex-direction: column;
}

.app-container {
  display: flex;
  align-items: center;
}

ul{
  display: flex;
  height: 4em;
  justify-content: flex-start;
  align-items: center;
}

ul li{
  list-style: none;
  padding-right: 2em;
}

.main-container{
  display: flex;
  width: 100%;
  border: 1px solid blue;
}

.module-container{
  display: flex;
  flex-direction: column;
  width: 30%;
  border: 1px solid green;
}

.module-container div{
  display: flex;
}

span, input{
  width: 50%;
}

.image-container{
  width: 70%;
  height: 50vh;
  border: 1px solid red;
}